 body, html {
    height: 100vh;
    margin: 0;
} 

.banner { 
    height: 100%;
    background-color: lime;
    /* padding: none; */
}

.projects {
    height: 100%;
}

.skills {
    height: 100%;
    background-color: greenyellow
}

/* .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
} */

.container {
    height:90%;
    /* max-width: 100%; */
    margin: auto;
    overflow: hidden;
    /* padding: 4rem 1rem; */
    /* border: solid; */
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .center {
    text-align: center;
    margin: auto;
} */

h1 {
    text-align: center;
    margin-top: 2px;
}

.beatsbyme{
    border: solid
}

.whoisgrandmaster{
    border: solid
}

.anotherproject{
    border: solid
}