 body, html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100vh;
    margin: 0;
} 

.banner { 
    height: 100%;
    background-color: #f8f8ff;
    /* border-bottom-style: solid;
    border-color: black; */
    /* padding: none; */
}

.projects {
    height: 100%;
    background-color: #f8f8ff;
}

.skills {
    height: 100%;
    background-color: #f8f8ff;
}

/* .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
} */

.container {
    height:80%;
    width: 80%;
    /* max-width: 100%; */
    margin: auto;
    overflow: hidden;
    /* padding: 4rem 1rem; */
    /* border: solid; */
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #ffffff; */
}

/* .center {
    text-align: center;
    margin: auto;
} */

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.vl {
    border-right: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 35%;
}

.beatsbyme{
    border: solid;
    background-color: #ffffff;
    border-radius: 10px;
    /* background-color: rgb(135, 138, 140); */
}

.whoisgrandmaster{
    border: solid;
    background-color: #ffffff;
    border-radius: 10px;
}

.anotherproject{
    border: solid;
    background-color: #ffffff;
    border-radius: 10px;
}

img.profilepic {
    height: 300px;
    position: absolute;
    left: 15%;
    top: 25%;
}

img.beatsbymepic{
    padding-top: 1px;
    border-radius: 10px;
}

h3 {
    font-size: 35px;
    position: absolute;
    right: 20%;
    top: 30%;
}

p {
    font-size: 25px;
    position: absolute;
    right: 17%;
    top: 40%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    /* height: 40px; */
    z-index: 1;
    float: right !important;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 0;
    padding: 0;
    flex-direction: end;
}

a {
    margin: 15px;
    background-color: #f8f8ff;
    color: black;
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px
}

a:hover {
    color: grey
}

a.contact{
    color: red; 
}

.logos{
    justify-items: center !important;
    margin: 0 auto; 
    width: 35%;
}

.devicon-javascript-plain{
    font-size: 4rem
}

.devicon-react-original-wordmark{
    font-size: 4rem
}

.devicon-css3-plain-wordmark{
    font-size: 4rem;
}

.devicon-html5-plain-wordmark{
    font-size: 4rem;
}

.devicon-nodejs-plain-wordmark{
    font-size: 4rem;
}

.devicon-express-original-wordmark{
    font-size: 4rem;
}

.devicon-github-plain-wordmark{
    font-size: 4rem;
}
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #fff;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
}

#banner{
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width: 568px){
    .nav{display:none}
}

@media(min-width: 568px){
    .open-slide{display:none}
}