 body, html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100vh;
    margin: 0;
} 

.banner { 
    height: 100%;
    background-color: #f8f8ff;
    /* padding: none; */
}

.projects {
    height: 100%;
    background-color: rgb(135, 138, 140);
}

.skills {
    height: 100%;
    background-color: greenyellow
}

/* .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
} */

.container {
    height:80%;
    width: 80%;
    /* max-width: 100%; */
    margin: auto;
    overflow: hidden;
    /* padding: 4rem 1rem; */
    /* border: solid; */
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
}

/* .center {
    text-align: center;
    margin: auto;
} */

h1 {
    text-align: center;
    padding-top: 10px;
}

.vl {
    border-right: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 40%;
}

.beatsbyme{
    border: solid;
    /* background-color: rgb(135, 138, 140); */
}

.whoisgrandmaster{
    border: solid
}

.anotherproject{
    border: solid
}

img {
    height: 300px;
    position: absolute;
    left: 15%;
    top: 25%;
}

h3 {
    font-size: 30px;
    position: absolute;
    right: 20%;
    top: 25%;
}